   .notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #026c02;
    background-color: rgba(24, 163, 0, 0.453);
    padding: 10px;
    margin: 10px 0;
  }
  
  .notification a {
    text-decoration: none;
    color: #fefefe;
    font-weight: bold;
  }
  
  .notification button {
    background-color: rgba(24, 163, 0, 0);
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .notification button:hover {
    background-color: #b4140200;
    color: #000000;
  }
  
  .back button{
    background-color: #ffa053;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .back button:hover{
    background-color: #ffd3ae;
    color: #000000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }