<div class="main-w3layouts wrapper">
    <h3>Create a post!</h3>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div>
                  <label for="content">Content:</label>
                  <textarea formControlName="content" id="content" placeholder="Write your post here..." required></textarea>
                  <input type="file" formControlName="image" class="a" (change)="onFileSelected($event)" />
                </div>
                <input type="submit" value="POST">
              </form>
        </div>
    </div>
</div>