server {
    listen 80;
    server_name localhost;

    location / {
        proxy_pass http://angular:4200;
    }

    location /notification {
        proxy_pass http://notification:3003;
    }

    location /post {
        proxy_pass http://post:3002;
    }

    location /user {
        proxy_pass http://user:3001;
    }
}
